@width: 400px;
@radius: 10px;
@top_offset: 40px;
@height: 704px;
@backcolor: #EEEEEE;

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 100%;
    height: @height;
    background: @backcolor;
    overflow: hidden;
}

#main {
    width: 387px + 400px;
    height: @height;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: @height / 2 * -1;
    margin-left: (387px + 400px) / 2 * -1;
}

#note_lines_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: @height;
}

#note_lines {
    position: absolute;
    left: 0;
    top: 0;
    width: 387px;
    height: @height;
    background: url('background.png') left top no-repeat;
    overflow: hidden;

    .note_box {
        position: absolute;
        left: 0;
        top: 0;

        .lines {
            position: absolute;
            left: 0;
            top: -2000px;
            width: 72px;
            height: @height;
            overflow: hidden;

            .lines_fon {
                position: absolute;
                left: 0;
                top: 0;
                width: 72px;
                height: @height;
                background: url('lines.png') left top no-repeat;

                &.help {
                    background: url('lines_help.png') left top no-repeat;
                }
            }
        }

        .note {
            position: absolute;
            left: 0;
            top: -2000px;
            width: 72px;
            height: 28px;
            background: url('note.png') left top no-repeat;
        }
    }

    #note1 { left: 213px; }

    #note2 { left: 387px; }

    #background_help {
        position: absolute;
        left: 213px;
        top: 0;
        width: 72px;
        height: @height;
        background: url('background_help.png') left top no-repeat;
        display: none;
    }
}

#help_note {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: @height;

    #octave {
        position: absolute;
        left: 2px;
        top: @height / 2 - 104 / 2;
        width: 11px;
        height: 104px;
        background: url('octave.png') left top no-repeat;
    }

    &.off {
        display: none;
    }
}

#control_elements {
    position: absolute;
    left: 387px;
    top: 0;
    width: 400px;
    height: 704px;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        span {
            color: red;
        }

        li { margin-bottom: 5px; }

        .title { margin-bottom: 10px; }
    }

    #notes {
        position: absolute;
        left: 50px;
        top: @top_offset + 30px;
    }

    #octaves {
        position: absolute;
        left: 200px;
        top: @top_offset + 30px;
    }

    #response {
        position: absolute;
        left: 0;
        top: @top_offset + 300px;
        width: @width;
        text-align: center;
        font-size: 1.2em;
    }

    #input {
        position: absolute;
        left: 0;
        top: @top_offset + 360px;
        width: @width;
        text-align: center;

        input {
            font-size: 1.2em;
            width: 50%;
            padding: 10px;
            text-align: center;
            border-radius: @radius;
            border: 1px solid black;
            outline: none;
            background: @backcolor;

            &:disabled {
                background: @backcolor;
            }
        }
    }

    #message {
        position: absolute;
        left: 0;
        top: @top_offset + 440px;
        width: @width;
        text-align: center;
        font-size: 1.5em;

        &.ok {
            color: green;
        }

        &.error {
            color: red;
        }

        &.help {
            color: gray;
        }
    }

    #next {
        position: absolute;
        left: 0;
        top: @top_offset + 530px;
        width: @width;
        text-align: center;

        .button {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
            border: 1px solid black;
            border-radius: @radius;
            
            span {
                color: red;
            }
        }
    }

    #options {
        position: absolute;
        left: 0;
        top: 630px;
        width: @width;

        .item {
            text-align: center;
            font-size: 0.9em;

            .text {
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
